In [104]:
!pip install tqdm
!pip install pandas

Requirement already satisfied: tqdm in /opt/anaconda3/envs/JyeProject/lib/python3.10/site-packages (4.64.1)
Requirement already satisfied: pandas in /opt/anaconda3/envs/JyeProject/lib/python3.10/site-packages (1.5.3)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/envs/JyeProject/lib/python3.10/site-packages (from pandas) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in /opt/anaconda3/envs/JyeProject/lib/python3.10/site-packages (from pandas) (1.24.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/anaconda3/envs/JyeProject/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/envs/JyeProject/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [51]:
# Declare import statements
import nltk
import xml.etree.ElementTree as ET
from xml.dom import minidom
import pandas as pd
pd.options.mode.chained_assignment = None  
from tqdm import tqdm
# Download nltk addons
nltk.download("punkt")
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package punkt to /Users/kyle-
[nltk_data]     fogarty/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /Users/kyle-fogarty/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

True

In [86]:
file_loc = '/Users/kyle-fogarty/Documents/EFCAMDAT/'
xml_file_name = 'Arab_All_Levels.xml'
xml_file = minidom.parse('{}{}'.format(file_loc, xml_file_name))

In [3]:
# Parse the xml file into pandas dataframe

grades = xml_file.getElementsByTagName('grade')
writing = xml_file.getElementsByTagName('writing')
text_xml = xml_file.getElementsByTagName('text')
learner = xml_file.getElementsByTagName('learner')
topic = xml_file.getElementsByTagName('topic')

grade = [] 
text = []
ids = []
writing_ids = []
levels = []
unit = []
nationality = []
topic_id = []
topic_text = []

for ind in range(len(grades)):
    grade.append(float(grades[ind].firstChild.nodeValue))
    text.append((text_xml[ind].firstChild.nodeValue))
    
    ids.append(int(learner[ind].attributes['id'].value))
    nationality.append(str(learner[ind].attributes['nationality'].value))
    
    writing_ids.append(int(writing[ind].attributes['id'].value))
    levels.append(int(writing[ind].attributes['level'].value))
    unit.append(int(writing[ind].attributes['unit'].value))
    
    topic_id.append(int(topic[ind].attributes['id'].value))
    topic_text.append(str(topic[ind].firstChild.nodeValue))

ensemble = {
  "learner_id": ids,
  "grades": grade,
  "nationality": nationality,
  "writing_id": writing_ids,
  "levels": levels,
  "unit":unit,
  "topic_id": topic_id,
  "topic_text":topic_text,
  "passage": text,}

corpus = pd.DataFrame(ensemble)

In [87]:
# Look at the first 5 entries in the corpus:
corpus.head()

,learner_id,grades,nationality,writing_id,levels,unit,topic_id,topic_text,passage
0,1801,80.0,kw,153,1,2,2,Taking inventory in the office,"\n Dear Ms There are 30 pens , 15 pens , ..."
1,1801,89.0,kw,154,1,3,3,Writing an online profile,\n Hi ! My name's Anas I'm 25 years old ....
2,43077,80.0,sa,210,4,1,25,Writing about what you do,\n My name is Saad . l am 21 years old . ...
3,166681,90.0,sa,281,4,1,25,Writing about what you do,"\n I'm working housewife, cleaner home, c..."
4,166681,73.0,sa,282,4,2,26,Describing routines,"\n Hello, I'm Malak , I'm working house..."

In [88]:
#Aux function to add a sentence to the dataframe

def add_query_found(corpus, sentence):
    sliced = corpus
    sliced["query_sentence"] = sentence
    return sliced

In [64]:
df_entry = []

for learner in tqdm(range(len(corpus))):
    
    # Tokenize the passage and convert the tokenize passage into 
    # tags.
    
    tokenize_paragraph = nltk.word_tokenize(corpus['passage'][learner])
    tagged_paragraph = nltk.pos_tag(tokenize_paragraph)
    
    # Using the '.' grammar tag to parse passages into sentences.
    # This returns the position of the end points in the tagged paragraphs.
    
    endline_position = [i + 1 for i, v in enumerate(tagged_paragraph) if v[1] == '.']
    
    # For each identified sentence, we parse out one sentence.
    
    for index in range(len(endline_position)):
        if index == 0:
            tagged_sentence = tagged_paragraph[:endline_position[index]]
            sentence = tokenize_paragraph[:endline_position[index]]
        else:
            tagged_sentence = tagged_paragraph[endline_position[index-1]:endline_position[index]]
            sentence = tokenize_paragraph[endline_position[index-1]:endline_position[index]]
        
        
        ###==================[PARSE SENTENCE STRUCTURE HERE]====================
        # Can be changed to tagged_sentence[0][1] = 'VBZ'
        # tagged_sentence[-1][0] != '?' removed sentences ending with question
        # 
        if tagged_sentence[0][1][0:3] =='VBZ' and tagged_sentence[-1][0] != '?':
            df_entry.append(add_query_found(corpus.loc[learner], ' '.join(sentence)))
            
query_df = pd.DataFrame(df_entry)

100%|████████████████████████████████████| 59466/59466 [01:50<00:00, 537.84it/s]

In [94]:
query_df = pd.DataFrame(df_entry)
query_df.reset_index(drop=True, inplace=True)

In [102]:
# pd.set_option('display.max_rows', None)
# query_df["query_sentence"]

In [99]:
# Save the found sentences out as a csv.
# add query_df[["learner_id","query_sentence"]] to output a subset to csv.

query_df[["query_sentence"]] .to_csv('{}/output.csv'.format(file_loc))